.menu-container{
    background-color: lightgrey;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;

    .room-form, .submit-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}